/* Defining main selectors */
:root {
    --yellow-clr: #C3AF3C;
    --white-clr: #FFFFFF;
    --black-clr: #141414;
    
    --ff-primary: "Inter", sans-serif;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

/* Setting my margins to 0 */
body,
h1,
h2,
h3,
p {
margin: 0;
}

body {
    font-family: var(--ff-primary);
    font-size: calc(0.625vmin + 0.75rem);
}

/* Header */
#header {
    display: flex;
    background: url(../images/hero-image.jpg) no-repeat center;
}

#header-img {
    width: 12.5rem;
    height: 12.5rem;
}

/* About us */
#about-us-main {
    display: flex;
}

#about-us {
    background-color: var(--black-clr);
}

#about-us-title {
    font-weight: 700;
    text-align: center;
    padding: 1.5rem;
    color: var(--yellow-clr);
}

#about-us-img {
    width: 40.25rem;
    height: 25.4375rem;  
}

#image-div {
    padding: 0 3rem 3rem 5rem;
}

#about-us-text {
    padding: 0 3rem 3rem 0;
    text-align: center;
}

/* Our process */
#our-process {
    background-color: var(--white-clr);
}

#our-process-title {
    font-weight: 700;
    text-align: center;
    padding: 1.5rem;
    color: var(--yellow-clr);   
}

#our-process > iframe {
    max-width: 640px;
    width: 100%; 
}

/* Our products */
#our-products {
    background-color: var(--black-clr);
}

#our-products-title {
    font-weight: 700;
    text-align: center;
    padding: 1.5rem;
    color: var(--yellow-clr);    
}

.product {
    display: flex;
}

/* Contact us */
#contact-us {
    background-color: var(--white-clr);
}

#contact-us-title {
    font-weight: 700;
    text-align: center;
    padding: 1.5rem;
    color: var(--yellow-clr);    
}

#contact-us-description {
    padding: 0 3rem;
    color: var(--black-clr);
    text-align: center;
}

